*.js
!bin/getResourceId.js

!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
.idea
!key/.gitkeep
key/*

!helpers/.gitkeep
helpers/*
